

  <div class="cards">
    <div class="card">
        <h1>Details of the Babysitter:</h1>
      <h2>First Name: {{baby.firstName}}</h2>   
      <h3>Last Name: {{baby.lastName}}</h3>
      <p>City: {{baby.city}}</p>
      <h4>Country: {{baby.country}}</h4>
      <p>Age: {{baby.age}}</p>
      <p>Salary: ${{baby.salary}}</p>
        {{!-- <img src="{{recipe.image}}" alt=""> --}}
     {{!-- <button class="btn btn-default"> <a href="/babysitter/edit/{{baby.id}}">Edit</a></button>
      <a href="#" class="btn btn-danger delete-recipe" data-id="{{baby.id}}">Delete</a> --}}
    </div>
    <h2>Contact Babysitter</h2>
      <h2>Send message: You can add someting here maybe?</h2>
    </div>
{{!-- </body>
</html> --}}

 {{!-- {{#if baby }}
 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          {{!-- <li>
            <a href='#'>Overview</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href='/parents'>View Parents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/profile/edit'>Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>

 {{/if}} --}}


 {{#if parent}}
 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          {{!-- <li>
            <a href='#'>Overview</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href='/babysitters'>View Babysitters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/profile/edit/{{parent.id}}'>Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>
 {{/if}}