

{{#if family}}
<header>
          <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
            <li class="nav-item">
                <a class="nav-link logoTitle" href="/">{{title}}</a>
            </li>
            <li class="nav-item right to-parents">
                <a class="nav-link" href='/parents'>To Parents</a>
            </li>
            <li class="nav-item babysitter">
                <a class="nav-link" href="/parent/{{family._id}}">{{family.firstName}} {{family.lastName}}</a>
            </li>
            <li class="nav-item logout">
                <a class="nav-link" href='/logout'>Logout</a>
            </li>
        </ul>
    </nav>
</header>
{{/if}}

 {{#if sitter}}
 <header>
           <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
          <li class="hide-on-small">
            <a class="nav-link logoTitle" href="/">{{title}}</a>
          </li>
          <li class="nav-item to-parents">
            <a class="nav-link" href='/parents'>View Parents</a>
          </li>
          <li class="nav-item babysitter">
            <a class="nav-link" href="#">{{baby.firstName}} {{baby.lastName}}</a>
         </li>
          <li class="nav-item logout">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    {{/if}} 


<div class="emp-profile">
    <form class="form-container" method="post">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="{{baby.image}}" alt="" />
                  
                    {{#if sitter}}
                    <div class="file btn btn-lg btn-primary">
                        
                     <a class="profile-edit-btn" name="btnAddMore"
                        href="/babysitter/edit{{this._id}}"> Change Photo</a> 
                    </div>
                    {{/if}}
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                  
                    <p class="profile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                           <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" 
                            href="#profile" role="tab" aria-controls="profile" aria-selected="true">Extra Info</a>
                        </li>
                 <li class="nav-item">
                    {{#if sitter}}
                    <div>
                        <button class="btn btn-default"> <a class="profile-edit-btn" name="btnAddMore"
                                href="/babysitter/edit{{this._id}}">Settings</a> </button>
                    </div>
                 {{/if}}
                </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="row under-pic">
        <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{baby.firstName}} {{baby.firstName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{baby.username}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>123 456 7890</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p>Babysitter</p>
                            </div>
                        </div>

                          <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{baby.city}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Babysitting Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>3 Years</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{baby.salary}}$/hr</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Joined at</label><br />
                                <p>{{baby.createdAt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div
        </div>
    </form>
</div>


<div class="addRevForm">
    <p class="addRev">Leave a Reply</p>
    <form  action="/babysitter?babysitter_id={{baby._id}}" method="post" 
     class="form-center">
      <div id="form-group">
            <label for="">User:</label>
        <input class="form-control" type="text" name="user" placeholder="You name..">
      </div>
    
    <div id="form-group">
            <label for="">Comments:</label>
        <textarea class="form-control" placeholder="Add your comment.."
         type="text" name="comments"></textarea>
    </div>
         <br>

      <div id="form-group">
          <label></label>
            <button class="btn btn-secondary" id="buttom" type="submit">
        Submit
        </button>
      </div>
    </form>

<div class="form-comments">
        <h2 class="review">Reviews:</h2>
    {{#each baby.reviews}}
    <div class="review-item">
        <div class="disRev">
            <span class="span">{{this.user}} says:</span>
            <p class="comment">{{this.comments}}</p>
        </div>
    </div>
    {{/each}}
</div>

</div>

<footer class="footer">
    <p>Copyright &copy; {{title}} <script>document.write(new Date().getFullYear())</script></p>
</footer>
