{{!-- 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body> --}}
  <h1>{{title}}</h1>
{{!-- <button type="button" class="btn btn-primary check" name="addBabysitter"> <a class="nav-link" href="/babysitters/add">Add babysitter</a></button> --}}
<div class="cards">
     {{#each babysitters}}
    <div class="card">
    <li class="list-group-item"><a href="/babysitter/{{this._id}}">{{this.firstName}}</a></li>
    </div>
     {{/each}}
</div>
 

 {{#if babysitters }}
 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          {{!-- <li>
            <a href='#'>Overview</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href='/login'>Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/parentProfile'>Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>

 {{/if}}