<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/babysitters.css" />
  <script src="/javascript/fadeEffect.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <title>{{title}}</title>
</head>

<body id="fadein">
<header>
      <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">

      {{#if family}}

         <li class="nav-item">
          <a class="nav-link logoTitle" href="/">{{title}}</a>
        </li>

          <li class="nav-item parent">
  <a class="nav-link" href="/parent/{{family._id}}">{{family.firstName}}</a>
      </li>
      <li class="nav-item logout">
        <a class="nav-link" href='/logout'>Logout</a>
      </li>
    </ul>
  </nav>
</header>
{{else}}
<header>
      <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
      <li class="hide-on-small">
        <a class="nav-link logoTitle" href="/">{{title}}</a>
      </li>
      <li class="nav-item babysitter">
        <a class="nav-link" href="/babysitter/{{baby._id}}">{{baby.firstName}} </a>
      </li>
      <li class="nav-item logout">
        <a class="nav-link" href='/logout'>Logout</a>
      </li>
    </ul>
  </nav>
</header>
{{/if}}

<div class="main-container">
    <div class="logo-container">
      <img class="logo" src="/images/logo.png" alt="Babysteps">
    </div>
    <div class="title-container">
      <!--background image container -->
    </div>
    <h1 class="pTitle">Meet Parents:</h1>
  <div class="formless">
        <form>
        <input id="input" class="input" type="text"
        placeholder="Search" aria-label="Search" />
         <div class="search-x"></div>
      </form>
  </div>

<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table id="table" class="table user-list">
              <thead>
                <tr>
                  <th><span>Babysitter</span></th>
                  <th><span>City</span></th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              {{#each babysitters}}
              <tbody>
                <tr id="tr">

                  <td>
                    <img src="{{this.image}}" alt="">
                    <a class="usr-link name" href="/babysitter/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
                
                  </td>
                  <td>
                    <a class="usr-link name" href="#">{{this.city}}</a>
                  </td>
                  {{/each}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <p>Copyright &copy; {{title}} <script>document.write(new Date().getFullYear())</script></p>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascript/main.js"></script>
    <script src="/javascript/script.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    </body>
    
    </html>