 {{#if family}}
 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href='/babysitters'>View Babysitters</a>
          </li> --}}
       
          <li class="nav-item">
            {{!-- <a class="nav-link" href='/parent/edit/{{parent.id}}'>Edit Profile</a> --}}
                 <a class="nav-link" href="/parent/{{family._id}}">{{family.firstName}} {{family.lastName}}</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>
   {{else}}
 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          {{!-- <li class="nav-item">
              <a class="nav-link" href="/parents/">Check Parents</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
      </header>
{{/if}}

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>User</span></th>
                                <th><span>Created</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>City</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            {{#each babysitters}}
                            <tbody>
                                <tr>
                                  
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="/babysitter/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td>{{this.createdAt}}</td>
                                    <td class="text-center">
                                        <span class="label label-default">pending</span>
                                    </td>
                                    <td>
                                        <a href="#">{{this.city}}</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a href="#" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="#" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                      {{/each}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
