{{#if editBaby}}
<header>
      <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
      <li class="nav-item">
        <a class="nav-link logoTitle" href="/">{{title}}</a>
      </li>
      <li class="nav-item babysitter">

        <a class="nav-link" href="/babysitter/{{editBaby._id}}">{{editBaby.firstName}} {{editBaby.lastName}}</a>
      </li>
      <li class="nav-item logout">
        <a class="nav-link" href='/logout'>Logout</a>
      </li>
    </ul>
  </nav>
</header>
{{/if}}

<div class="col-lg-12 editProfy text-center">
 <div class="before-form text-center">
     <div class="panel-body text-center">
           <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle profile-avatar" alt="User avatar">
      </div>
 </div>
<form method="POST" action="/babysitter/edit" class="form-center">
  <h1 class="href">Edit Profile</h1>
  <div id="form-group">
    <label for="level">First Name:</label>
    <input type="text" name="firstName" value="{{editBaby.firstName}}" class="form-control">
  </div>
  <div id="form-group">
    <label for="level">Last Name</label>
    <input type="text" name="lastName" value="{{editBaby.lastName}}" class="form-control">
  </div>
  <div id="form-group">
    <label for="level">Username:</label>
    <input type="text" name="username" value="{{editBaby.username}}" class="form-control">
  </div>
  <div id="form-group">
    <label for="level">Image:</label>
    <input type='text' name="image" value="{{editBaby.image}}" class="form-control"
     placeholder="Image url" />
  </div>
  <div id="form-group">
    <label for="level">City:</label>
    <input type="text" name="city" value="{{editBaby.city}}" class="form-control">
  </div>
  <div id="form-group">
    <label for="level">Country:</label>
    <input type="text" name="country" value="{{editBaby.country}}" class="form-control">
  </div>
  <div id="form-group">
    <label for="level">Age:</label>
    <input type="number" name="age" value="{{editBaby.age}}" class="form-control">
  </div>
  <div id="form-group">
    <label for="level">Salary:</label>
    <input type="number" name="salary" value="{{editBaby.salary}}" class="form-control">
  </div>
  <input type="submit" id="button" class="btn btn-primary" value="Submit">
  </div>
</form>
</div>

<footer class="footer">
  <p>Copyright &copy; {{title}} <script>document.write(new Date().getFullYear())</script></p>
</footer>
