<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/parent.css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/fadeEffect.js"></script>
</head>

<body id="fadein">

{{#if showParentData}}
<header>
 <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
  <li class="nav-item">
    <a class="nav-link logoTitle" href="/">{{title}}</a>
  </li>
<li class="nav-item to-sitter">
  <a class="nav-link third" href='/babysitters'>To Sitters</a>
</li>
      <li class="nav-item parent">
        <a class="nav-link" href="/parent/{{showParentData.id}}">{{showParentData.firstName}}
        </a>
      </li>
      <li class="nav-item logout">
        <a class="nav-link" href='/logout'>Logout</a>
      </li>
    </ul>
  </nav>
</header>
{{/if}}


<div class="col-lg-12 editProfy text-center">
  <div id="progress"></div>

    <div class="panel-body text-center">
      <!-- background image container -->
    </div>

<div class="wrapper">
    <div class="ppic-container">
          <img class="profile-image" src={{editParent.image}} alt="profile-image" />
    </div>

    <div class="form-container">
      <form method="POST" name="form" 
      enctype="multipart/form-data" action="/parent/{{showParentData.id}}/edit" class="form-center">
        <h1 class="href">Edit Profile</h1>
      <div id="form-group">
        <label for="level">First Name:</label>
        <input type="text" name="firstName" value="{{editParent.firstName}}" class="form-control">
      </div>
      <div id="form-group">
        <label for="level">Last Name</label>
        <input type="text" name="lastName" value="{{editParent.lastName}}" class="form-control">
      </div>
      <div id="form-group">
        <label for="level">Username:</label>
        <input type="text" name="username" value="{{editParent.username}}" class="form-control">
      </div>
      <div id="form-group" class="image inner-addon left-addon">
        <div class="upload-btn-wrapper">
          <button class="upload">Upload a file</button>
          <input type="file" name='image' id="addPic" className="btn btn-warning addPic form-control" />
        </div>
      </div>
        <div id="form-group">
          <label for="level">City:</label>
          <input type="text" name="city" value="{{editParent.city}}" class="form-control">
        </div>
        <div id="form-group">
          <label for="level">Country:</label>
          <input type="text" name="country" value="{{editParent.country}}" class="form-control">
        </div>
        <div id="form-group">
          <label for="level">Phone:</label>
          <input type="text" id="phone" class="form-control" placeholder="Ex. 061-621-2946" name="phone"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{editParent.phone}}">
        </div>
        <div id="form-group">
          <label for="level">Kids:</label>
          <input type="number" name="kids" value="{{editParent.kids}}" class="form-control">
        </div>
        <div id="form-group">
          <label for="level">Caring days:</label>
          <input type="number" name="days" value="{{editParent.days}}" class="form-control">
        </div>

<p class="flip">Change password</p>
<div id="pass" class="pass-change">
  <div id="form-group">
    <label for="level">Change Password</label>
    <input class="form-control password" id="firstPass" data-help="Enter minimum six characters, at least one uppercase letter and one number!"
     type="password" name="password" placeholder="New Password" autofocus="true">
  </div>
  <div id="form-group">
    <label for="level">Repeat Password</label>
    <input class="form-control password" id="passCheck" data-help="Enter minimum six characters, at least one uppercase letter and one number!"
     type="password" name="confirmPassword" placeholder="Confirm Password">
  </div>
</div>

        <div id="form-group">
        <input type="submit" id="button" class="btn btn-primary" value="Submit">
      </div>
    </form>
    <p id="help"></p>
  </div>
</div> <!--wrapper -->

  <footer class="footer">
    <p>Copyright <i class="fa fa-copyright"></i> {{title}}
      <script>document.write(new Date().getFullYear())</script>
    </p>
  </footer>

</div>

<script src="/javascript/progress.js"></script>
<script src="/javascript/edit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascript/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
</body>
</html>