<div id="container">

<div id="showcase">
  <header>
    <nav class='cf'>
      <ul class='cf'>
        <li class="nav-item">
          <a class="nav-link logoTitle" href="/">{{title}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/parent/signup'>Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/parent/login'>Log In</a>
        </li>
      </ul>
      <a class="nav-link" href='#' id='openup'></a>
    </nav>
  </header>



  <div class="bg">
    <div class="section-main container">
      <h1>{{title}}.</h1>
      <h2>We have one thing in common: <i class="fa fa-child"></i> </h2>
      <p class="lead hide-on-small">
        {{title}} is the best way to organize and enjoy the life you want — and use your time for the ones you
        want. Enjoy all the services {{title}} has to offer on our website.
      </p>
    </div>
  </div>


</div> <!--end showcase -->

<!-- Music Section -->
<section id="music" class="section">
  <div class="container">
    <h2 class="section-head">
      {{!-- <i class="fas fa-child"> Child</i> --}}
    </h2>
    <a href="/sitter/signup" class="btn btn-primary mb">Register Now</a>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="footer-cols">
      <ul>
        <li class="fTitle">Shop & Learn</li>
        <li>
          <a href="#">Music</a>
        </li>
        <li>
          <a href="#">Movies</a>
        </li>
        <li>
          <a href="#">Shows</a>
        </li>
        <li>
          <a href="#">Apps</a>
        </li>
        <li>
          <a href="#">Gift Cards</a>
        </li>
      </ul>

      <ul>
        <li class="fTitle">Affiliate Store</li>
        <li>
          <a href="#">Find a Store</a>
        </li>
        <li>
          <a href="#">Today at Orange</a>
        </li>
        <li>
          <a href="#">Orange Camp</a>
        </li>
        <li>
          <a href="#">Financing</a>
        </li>
        <li>
          <a href="#">Order Status</a>
        </li>
      </ul>

      <ul>
        <li class="fTitle">Education & Business</li>
        <li>
          <a href="#">Orange & Education</a>
        </li>
        <li>
          <a href="#">Shop For College</a>
        </li>
        <li>
          <a href="#">Orange & Business</a>
        </li>
        <li>
          <a href="#">Shop For Business</a>
        </li>
        <li>
          <a href="#">Jobs</a>
        </li>
      </ul>

      <ul>
        <li class="fTitle">About BabySteps</li>
        <li>
          <a href="#">Newsroom</a>
        </li>
        <li>
          <a href="#">Orange Leadership</a>
        </li>
        <li>
          <a href="#">Investors</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">Contact {{title}}</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="footer-bottom text-center">
    Copyright &copy; <script>document.write(new Date().getFullYear())</script> {{title}}
  </div>
</footer>

</div>
