
  <div class="cards">
    <div class="card">
      <h1>Profile Details:</h1>
      <h2>Name: {{parent.firstName}} {{parent.lastName}}</h2>   
      <p>City: {{parent.city}}</p>
      <p>Country: {{parent.country}}</p>
      <p>Kids: {{parent.kids}}</p>
      <p>Days for kids: {{parent.days}}</p>
      {{parent.image}}
        {{!-- <img src="{{parentProfile.country}}" alt=""> --}}
     {{!-- <button class="btn btn-default"> <a href="/profile/edit/{{parent.id}}">Edit</a></button>
      <a href="#" class="btn btn-danger delete-recipe" data-id="{{parent.id}}">Delete</a> --}}
 </div>
    </div>

 {{#if babysitters}}
 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/babysitters'>View Babysitters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/profile/edit/{{parent.id}}'>Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>
 {{/if}}