

  <h1>Profile Details:</h1>

  <div class="cards">
    <div class="card">
      <h2>firstName: {{this.firstName}}</h2>   
      <h3>lastName: {{this.lastName}}</h3>
      <p>City: {{this.city}}</p>
        {{!-- <img src="{{parentProfile.country}}" alt=""> --}}
     <button class="btn btn-default"> <a href="/recipe/edit/{{parent.id}}">Edit</a></button>
      <a href="#" class="btn btn-danger delete-recipe" data-id="{{parent.id}}">Delete</a>
 </div>
    </div>

 {{#if parent }}
 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          {{!-- <li>
            <a href='#'>Overview</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href='/login'>Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/signup'>Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>

 {{/if}}