


{{!-- <button type="button" class="btn btn-primary check" name="addRecipe"> <a class="nav-link" href="/recipes/add">Add recipe</a></button> --}}
<div class="cards">
  <h1>List of parents:</h1>
     {{#each parents}}
    <div class="card">
    <li class="list-group-item"><a href="/parent/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></li>
    </div>
     {{/each}}
</div>


 <header>
      <nav class='cf'>
        <ul class='cf'>
          <li class="hide-on-small">
            <a class="nav-link" href="/">{{title}}</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href='/parents'>View Parents</a>
          </li> --}}
          <li class="nav-item">
            <li class="list-group-item"><a href="/babysitter/{{this._id}}"></a>Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </nav>
    </header>