{{#if family}}
<header>
         <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
            <li class="nav-item">
                <a class="nav-link logoTitle" href="/">{{title}}</a>
            </li>
            <li class="nav-item to-sitters">
                <a class="nav-link" href="/babysitters/">Babysitters</a>
            </li>
            <li class="nav-item logout">
                <a class="nav-link" href='/logout'>Logout</a>
            </li>
        </ul>
    </nav>
</header>
{{/if}}
{{#if sitter}}
<header>
      <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
            <li class="hide-on-small">
                <a class="nav-link" href="/">{{title}}</a>
            </li>

            <li class="nav-item parent">
                <a class="nav-link user" href="/babysitter/{{sitter._id}}">{{sitter.firstName}} {{sitter.lastName}}</a>
            </li>

            <li class="nav-item logout">
                <a class="nav-link" href='/logout'>Logout</a>
            </li>
        </ul>
    </nav>
</header>
{{/if}}


<div class="title-container">
  <h1 class="pTitle">Meet Parents:</h1>

</div>
  <div class="formless">
        <form>
        <input id="input" class="input" type="text"
        placeholder="Search" aria-label="Search" />
         <div class="search-x"></div>
      </form>
  </div>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table id="table" class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>User</span></th>
                        
                                    <th><span>City</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            {{#each parents}}

                            <tbody>
                                <tr>

                                    <td>
                                        <img src="{{this.image}}" alt="">
                                        <a class="usr-link name" href="/parent/{{this._id}}">{{this.firstName}}
                                            {{this.lastName}}</a>
                                    </td>
                            
                                    <td>
                                        <a class="usr-link name" href="#">{{this.city}}</a>
                                    </td>
                                    {{/each}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p>Copyright &copy; {{title}} <script>document.write(new Date().getFullYear())</script></p>
</footer>
